body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Tangerine', cursive;
  font-size:3em;
}

.container {
  /* border:1px solid orange; */
}

/* navigation */
.circle-nav-text {
  font-size: 1em;
  font-weight: bold;
  margin: 0 auto;
  padding-bottom: 25px;
/*   border: 1px solid orange; */
}

.img-nav {
  max-width: 200px;
  margin-bottom:15px;
}

.homepage-nav {
  padding-top:50px;
}

.nav-row {
  padding-top:50px;

}

a, a:hover, a:visited {
  text-decoration:none;
  color: black;
}

/* detail page */

.page-title {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size:1.5em;
}

.reverse {
  background-color: #3F678D;
  color: white;
}

.reverse a {
  color: white;
}

.body-copy {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.gallery {
    background-color: #DECEAA;
}

.gallery >div>img {
  padding-top: 10px;
  padding-bottom: 10px;
}

.img-center {
  margin: 0 auto;
}